%h1= I18n.t 'places.title'

%table.table.table-hover
  %tbody
    - @places.each do |f|
      %tr
        %th
          = f.name + ", " + f.adress + ", rate: " + f.rate.to_s

%p
  = link_to "+ Add new place", new_place_path